aioapns==3.1
aiodbm==0.4.2
aiohttp==3.9.2
bcrypt==3.2.0
cryptography==42.0.4
fastapi==0.109.1
filelock==3.0.12
futures==3.1.1
httpx==0.28.1
pytest==8.3.4
pytest_mock==3.14.0
pytest_asyncio==0.24.0
PyYaml==6.0.2
PyJWT==2.7.0
pytz==2021.3
requests==2.32.3
slowapi==0.1.6
urllib3==1.26.18
uvicorn==0.18.3
